
div.mainmenu a:link {
	text-decoration: none;
	color: #000000;
}

div.mainmenu a:active {
	text-decoration: none;
	color: #000000;
}

div.mainmenu a:hover {
	text-decoration: none;
	color: #000000;
}

div.mainmenu a:visited {
	text-decoration: none;
	color: #000000;
}

div.mainmenu p {
	margin: 0px;
}

div.mainmenu p.menu_level1 {
	margin-top:10px;
	background:url('../images/page/menu-level1-bg.png');
	font-weight: bold;
	color: #9f9f9f; /*2d86c6;*/
	text-align: center;
	padding-left: 12px;
	padding-top: 13px;
	line-height: 20px;
	height:40px;
}

div.mainmenu p.menu_level2 {
	font-weight: bold;
	padding-left: 20px;
	line-height: 20px;
}

div.mainmenu p.menu_level2:hover {
	font-weight: bold;
	padding-left: 20px;
	color: #0082b8;
	line-height: 20px;
}

div.mainmenu p.menu_level3 {
	font-weight: bold;
	padding-left: 30px;
	line-height: 20px;
}

div.mainmenu p.collapse {
	
}

/* Menueditor */
div.menuedit {
	width: 200px;
}

div.menuedit a:link {
	text-decoration: none;
	color: #000000;
}

div.menuedit a:active {
	text-decoration: none;
	color: #000000;
}

div.menuedit a:hover {
	text-decoration: none;
	color: #0082b8;
}

div.menuedit a:visited {
	text-decoration: none;
	color: #000000;
}

div.menuedit p {
	padding:2px;
	margin:0px;
}

div.menuedit p.menu_level1 {
	padding-left: 10px;
	color: #ffffff;
	background-color: #e0e0e0;
}

div.menuedit p.menu_level2 {
	padding-left: 20px;
	background-color: #eaeaea;
}

div.menuedit p.menu_level3 {
	padding-left: 30px;
	background-color:#f2f2f2;
}