<p><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:8px">{$CName} // {$CStreet} // {$CCounty-&gt;getCode()}-{$CPostcode} {$CCity}</span></span></p>

<p><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">{$CustomerName}<br />
{$CustomerAddress}</span></span></p>

<table border="0" cellspacing="1" style="width:450px">
	<tbody>
		<tr>
			<td><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">Ihre Nachricht</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">Ihr Zeichen</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">Unser Zeichen</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">Datum</span></span></td>
		</tr>
		<tr>
			<td><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">{$TheirMessage}</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">{$TheirSign}</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">{$OurSign}</span></span></td>
			<td><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">{$CurrentDate}</span></span></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif"><strong>Angebot Nr. {$Id}</strong></span><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></span><span style="font-size:14px"><strong>&nbsp; Kunden-Nr. {$CustomerId}</strong></span><br />
<span style="font-size:12px">Auftrag: {$OrderTitle}</span></p>

<p>&nbsp;</p>

<p><br />
<span style="font-family:arial,helvetica,sans-serif"><span style="font-size:12px">Sehr geehrte Damen und Herren<br />
vielen Dank f&uuml;r Ihre Anfrage.</span></span></p>

<p><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:12px">Nach Ihren Angaben unterbreiten wir Ihnen nachfolgendes Angebot:</span></span></p>

<table border="0" cellpadding="1" cellspacing="1" style="width:450px">
	<thead>
		<tr>
			<th scope="col" style="border-color:rgb(0, 0, 0); text-align:center; width:25px"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:11px">Pos.</span></span></th>
			<th scope="col" style="border-color:rgb(0, 0, 0); text-align:left; width:225px"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:11px">Beschreibung</span></span></th>
			<th scope="col" style="border-color:rgb(0, 0, 0); text-align:left; width:40px"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:11px">Menge</span></span></th>
			<th scope="col" style="border-color:rgb(0, 0, 0); text-align:left; width:40px"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:11px">USt.</span></span></th>
			<th scope="col" style="border-color:rgb(0, 0, 0); text-align:right; width:60px"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:11px">EP (Netto)</span></span></th>
			<th scope="col" style="border-color:rgb(0, 0, 0); text-align:right; width:60px"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:11px">GP (Netto)</span></span></th>
		</tr>
	</thead>
	<tbody><!-- {foreach $OrderPos as $Pos} -->
		<tr>
			<td style="text-align:center; width:25px">
			<p><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:11px">{$Pos@iteration}</span></span></p>
			</td>
			<td style="text-align:left; width:225px"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:11px">{$Pos-&gt;getComment()}</span></span></td>
			<td style="text-align:left; width:40px"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:11px">{$Pos-&gt;getQuantity()}</span></span></td>
			<td style="text-align:left; width:40px"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:11px">{$Pos-&gt;getTax()} %</span></span></td>
			<td style="text-align:right; width:60px"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:11px">{$Pos-&gt;getPrice()} {$Currency}</span></span></td>
			<td style="text-align:right; width:60px"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:11px">{$Pos-&gt;getNetto()} {$Currency}</span></span></td>
		</tr>
		<!-- {/foreach} -->
	</tbody>
</table>

<p>&nbsp;</p>

<table border="0" cellpadding="1" cellspacing="1" style="height:106px; width:455px">
	<tbody><!-- {if $DeliveryCosts gt 0} -->
		<tr>
			<td style="text-align:right; width:300px"><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">Porto und Verpackung</span></span></td>
			<td style="text-align:right; width:150px"><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">{$DeliveryCosts} {$Currency}</span></span></td>
		</tr>
		<!-- {/if} -->
		<tr>
			<td style="text-align:right; width:300px"><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif"><strong>Gesamtsumme (Netto)</strong></span></span></td>
			<td style="text-align:right; width:150px"><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif"><strong>{$SumNetto} {$Currency}</strong></span></span></td>
		</tr>
		<!-- {foreach $TaxesKey as $Key} -->
		<tr>
			<td style="text-align:right; width:300px"><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">USt. ({$Key} %)</span></span></td>
			<td style="text-align:right; width:150px"><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">&nbsp;{$Taxes.$Key} {$Currency}</span></span></td>
		</tr>
		<!-- {/foreach} -->
		<tr>
			<td style="text-align:right; width:300px"><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif"><strong>Gesamtsumme (Brutto)</strong></span></span></td>
			<td style="text-align:right; width:150px"><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif"><strong>{$SumBrutto} {$Currency}</strong></span></span></td>
		</tr>
	</tbody>
</table>

<p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Wir hoffen, dass unser Angebot Ihren Vorstellungen entspricht und w&uuml;rden uns &uuml;ber eine Auftragserteilung freuen.<br />
F&uuml;r R&uuml;ckfragen stehen wir Ihnen selbstverst&auml;ndlich gerne zur Verf&uuml;gung. </span></span></p>

<p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Dieses Angebot hat eine G&uuml;ltigkeit von 6 Wochen.<br />
Es gelten die allgemeinen Gesch&auml;ftsbedingungen der {$UserClient}.</span></span></p>

<p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Mit freundlichen Gr&uuml;&szlig;en<br />
{$UserFirstname} {$UserLastname}<br />
<br />
{$UserClient}</span></span></p>
