<table border="0" cellpadding="1" cellspacing="1" style="background-color:#ffffff; height:8px; width:100%">
	<tbody>
	<!-- {foreach $Articles as $Pos} -->
	    <!-- {foreach $Drs as $Container} -->
	        <!-- {foreach $Container as $Con} -->
                <tr>
                    <table border="0" cellpadding="1" cellspacing="1" style=" width:100%">
                        <tbody>
                            <tr>
                                <td style="text-align:left; width:60%"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:10px"><strong>TaschenNr.: {$Id}</strong><br/>
                                <span style="font-size:10px">Vorgangnummer: {$Order-&gt;getNumber()}<br/>
                                Alte Auftragsnr.:<!--{if $OrderAttributes.46_288.inputvalue != ""}-->{$OrderAttributes.46_288.inputvalue}<!--{/if}--><br/><br/>
                                <strong>{$CustomerName}<br />
                                {$ContactPerson-&gt;getNameAsLine3()}<br />
                                {$Customer-&gt;getStreet()} {$Customer-&gt;getHouseno()} {$Customer-&gt;getAddress2()}<br />
                                {$Customer-&gt;getZip()} {$Customer-&gt;getCity()}<br />
                                {$Customer-&gt;getCountry()-&gt;getName()}</span></span></span></strong></td>

                                <td style="text-align:left; width:40%"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:10px"><!--{if $OrderAttributes.75_363.inputvalue != ""}--><strong>Auslieferdatum: {$OrderAttributes.75_363.inputvalue}</strong><br/><!--{/if}--><strong>Liefertermin: {$DelivDate}</strong><br/>
                                <span style="font-size:10px">Datum: {$CurrentDate}<br/>
                                Kunden-Nr. {$Customer-&gt;getCustomernumber()}<br/>
                                Bestellnummer: <!--{if $OrderAttributes.55_310.inputvalue != ""}-->{$OrderAttributes.55_310.inputvalue}<!--{/if}--><br/>
                                Sachbearbeiter: {$Order-&gt;getinternContact()-&gt;getNameAsLine()}<br />
                                Ansprechpartner: {$ContactPerson-&gt;getName2()} {$ContactPerson-&gt;getName1()}<br/>
                                Telefon: {$ContactPerson->getPhone()}<br/><!--{if $OrderAttributes.70_349.value == "" && $OrderAttributes.70_352.value == ""}--><strong>PROFORMA NOCH NICHT BEGLICHEN</strong><!--{/if}--></span></span></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                    <table border="0" cellpadding="1" cellspacing="1" style="background-color:#ffffff; height:8px; width:100%">
                        <tbody>
                            <tr>
                                <td style="text-align:left; width:70%"><strong><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">{$Order-&gt;getTitle()}<br/>Auflage: {ceil($Pos-&gt;getQuantity())}</strong><br><span style="font-size:10px; background-color:#bababa">Eingang Druckdaten: {if $OrderAttributes.72_352.value!=""}Daten ok<!--{/if}-->
                    {if $OrderAttributes.72_353.value!=""}Daten nicht OK<!--{/if}-->
                    {if $OrderAttributes.72_354.value!=""}Mehraufwand, bitte Rücksprache<!--{/if}-->			</span></span></span></td>

                                <td style="text-align:left; width:30%"><strong><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">O Neudruck<br/>O Nachdruck<br/>O Nachdruck m. Ä </span></span></strong> </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>

                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%">
                        <tbody>
                            <tr>

                            <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">Produktformat:<br>
                            Produktformat offen:<br>

                            <!--{if $Con["Calc"]->getChromaticitiesEnvelope()->getName() != ""}-->Farbigkeit Umschlag:<br><!--{/if}-->
                            <!--{if $Con["Calc"]->getpagesEnvelope() > 1}-->Umfang Umschlag:<br><!--{/if}-->
                            <!--{if $Con["Calc"]->getChromaticitiesContent()->getName() != ""}-->Farbigkeit Inhalt 1:<br><!--{/if}-->
                            <!--{if $Con["Calc"]->getpagesContent() > 1}-->Umfang Inhalt 1:<br><!--{/if}-->
                            <!--{if $Con["Calc"]->getChromaticitiesAddContent()->getName() != ""}-->Farbigkeit Inhalt 2:<br><!--{/if}-->
                            <!--{if $Con["Calc"]->getpagesAddContent() > 1}-->Umfang Inhalt 2:<br><!--{/if}-->
                            <!--{if $Con["Calc"]->getChromaticitiesAddContent2()->getName() != ""}-->Farbigkeit Inhalt 3:<br><!--{/if}-->
                            <!--{if $Con["Calc"]->getpagesAddContent2() > 1}-->Umfang Inhalt 3:<br><!--{/if}-->
                            <!--{if $Con["Calc"]->getChromaticitiesAddContent3()->getName() != ""}-->Farbigkeit Inhalt 4:<br><!--{/if}-->
                            <!--{if $Con["Calc"]->getpagesAddContent3() > 1}-->Umfang Inhalt 4:<br><!--{/if}-->
                            </span></span></td>

                            <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif"><!--{if $Con["Calc"]->getProductFormatWidth() != ""}-->{$Con["Calc"]->getProductFormatWidth()}mm x {$Con["Calc"]->getProductFormatHeight()}mm<br><!--{/if}-->
                            <!--{if $Con["Calc"]->getProductFormatWidthOpen() != ""}-->{$Con["Calc"]->getProductFormatWidthOpen()}mm x {$Con["Calc"]->getProductFormatHeightOpen()}mm<br><!--{/if}-->
                                <!--{if $Con["Calc"]->getChromaticitiesEnvelope()->getName() != ""}-->{$Con["Calc"]->getChromaticitiesEnvelope()->getName()}<!--{/if}--><br>
                                <!--{if $Con["Calc"]->getpagesEnvelope() > 1}-->{$Con["Calc"]->getpagesEnvelope()}Seiten<br/><!--{/if}-->

                                <!--{if $Con["Calc"]->getChromaticitiesContent()->getName() != ""}-->{$Con["Calc"]->getChromaticitiesContent()->getName()}<br><!--{/if}-->
                                <!--{if $Con["Calc"]->getpagesContent() > 1}-->{$Con["Calc"]->getpagesContent()} Seiten<br><!--{/if}-->
                                <!--{if $Con["Calc"]->getChromaticitiesAddContent()->getName() != ""}-->{$Con["Calc"]->getChromaticitiesAddContent()->getName()}<br><!--{/if}-->
                                <!--{if $Con["Calc"]->getpagesAddContent() > 1}-->{$Con["Calc"]->getpagesAddContent()} Seiten<br><!--{/if}-->
                                <!--{if $Con["Calc"]->getChromaticitiesAddContent2()->getName() != ""}-->{$Con["Calc"]->getChromaticitiesAddContent2()->getName()}<br><!--{/if}-->
                                <!--{if $Con["Calc"]->getpagesAddContent2() > 1}-->{$Con["Calc"]->getpagesAddContent2()} Seiten<br><!--{/if}-->
                                <!--{if $Con["Calc"]->getChromaticitiesAddContent3()->getName() != ""}-->{$Con["Calc"]->getChromaticitiesAddContent3()->getName()}<br><!--{/if}-->
                                <!--{if $Con["Calc"]->getpagesAddContent3() > 1}-->{$Con["Calc"]->getpagesAddContent3()} Seiten<br><!--{/if}-->

                            </span></span></td>
                            <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">{if $OrderAttributes.71_350.inputvalue!=""}Bindeart:{$OrderAttributes.71_350.inputvalue}<!--{/if}--></span></span></td>
                            <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">{if $OrderAttributes.74_360.inputvalue!=""}1.Korr.ab: {$OrderAttributes.74_360.inputvalue}<!--{/if}--><br>
                            {if $OrderAttributes.74_361.inputvalue!=""}2.Korr.ab: {$OrderAttributes.74_361.inputvalue}<!--{/if}--><br>
                            {if $OrderAttributes.74_362.inputvalue!=""}Druckfreigabe: {$OrderAttributes.74_362.inputvalue}<!--{/if}--><br></span></span></td>
                            </tr>
                        </tbody>
                    </table>
		            <hr/>

                    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                        <tbody>

                            <!--{if $Con["Calc"]->getPaperEnvelope()->getName() != ""}-->
                                <tr style="background-color:#dadada">
                                    <td style="text-align:left; width:50%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif"><!--{if $Con["Calc"]->getPaperEnvelope()->getName() != ""}--><strong>Bogen Umschlag: {$Con["Calc"]->getPaperEnvelope()->getName()} {$Con["Calc"]->getPaperEnvelopeWeight()}g</strong><br>{if $OrderAttributes.71_351.inputvalue!=""}Raster:{$OrderAttributes.71_351.inputvalue}<!--{/if}--><td style="text-align:right">Menge</td></span></span></td>
                                    <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">Papierformat: {$Con["Calc"]->getPaperEnvelopeWidth()} X {$Con["Calc"]->getPaperEnvelopeHeight()}<br>{ceil ($Con["Calc"]->getPaperCount(Calculation::PAPER_ENVELOPE) + $Con["Calc"]->getPaperEnvelopeGrant())} Bogen</span></span></td>
                                    <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">Auf Lager <strong>o</strong><br>eingegangen <strong>o</strong><br>bestellen <strong>o</strong></span></span></td>
                                </tr>
                            <!--{/if}--><!--{/if}-->
                            <!--{if $Con["Calc"]->getPaperContent()->getName() != ""}-->
                                <tr style="background-color:#bababa">
                                    <td style="text-align:left; width:50%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif"><strong>Bogen Inhalt 1: {$Con["Calc"]->getPaperContent()->getName()} {$Con["Calc"]->getPaperContentWeight()}g</strong><br>{if $OrderAttributes.71_351.inputvalue!=""}Raster:{$OrderAttributes.71_351.inputvalue}<!--{/if}--><td style="text-align:right">Menge</td></span></span></td>
                                    <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">Papierformat: {$Con["Calc"]->getPaperContentWidth()} X {$Con["Calc"]->getPaperContentHeight()}<br>{$Con["Calc"]->getPaperCount(Calculation::PAPER_CONTENT) + $Con["Calc"]->getPaperContentGrant()} Bogen</span></span></td>
                                    <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">Auf Lager <strong>o</strong><br>eingegangen <strong>o</strong><br>bestellen <strong>o</strong></span></span></td>
                                </tr>
                            <!--{/if}-->
                            <!--{if $Con["Calc"]->getPaperAddContent()->getName() != ""}-->
                                <tr>
                                    <td style="text-align:left; width:50%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif"><!--{if $Con["Calc"]->getPaperAddContent()->getName() != ""}--><strong> Bogen Inhalt 2: {$Con["Calc"]->getPaperAddContent()->getName()} {$Con["Calc"]->getPaperAddContentWeight()}g</strong><br><style="text-align:right">Menge</span></span></td>
                                    <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">Papierformat: {$Con["Calc"]->getPaperAddContentWidth()} X {$Con["Calc"]->getPaperAddContentHeight()}<br>{$Con["Calc"]->getPaperCount(Calculation::PAPER_ADDCONTENT) + $Con["Calc"]->getPaperAddContentGrant()} Bogen</span></span></td>
                                    <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">Auf Lager <strong>o</strong><br>eingegangen <strong>o</strong><br>bestellen <strong>o</strong></span></span></td><!--{/if}-->>
                                </tr>
                            <!--{/if}-->
                            <!--{if $Con["Calc"]->getPaperAddContent2()->getName() != ""}-->
                                <tr>
                                    <td style="text-align:left; width:50%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif"><!--{if $Con["Calc"]->getPaperAddContent2()->getName() != ""}--><strong> Bogen Inhalt 3: {$Con["Calc"]->getPaperAddContent2()->getName()} {$Con["Calc"]->getPaperAddContent2Weight()}g</strong><br><style="text-align:right">Menge<br>bestellen o</span></span></td>
                                    <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">Papierformat: {$Con["Calc"]->getPaperAddContent2Width()} X {$Con["Calc"]->getPaperAddContent2Height()}<br>{$Con["Calc"]->getPaperCount(Calculation::PAPER_ADDCONTENT2) + $Con["Calc"]->getPaperAddContent2Grant()} Bogen<br>eingegangen o  </span></span></td>
                                    <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">Auf Lager <strong>o</strong><br>eingegangen <strong>o</strong><br>bestellen <strong>o</strong></span></span></td><!--{/if}-->
                                </tr>
                            <!--{/if}--
                            <!--{if $Con["Calc"]->getPaperAddContent3()->getName() != ""}-->
                                <tr>
                                    <td style="text-align:left; width:50%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif"><!--{if $Con["Calc"]->getPaperAddContent3()->getName() != ""}--><strong> Bogen Inhalt 4: {$Con["Calc"]->getPaperAddContent3()->getName()} {$Con["Calc"]->getPaperAddContent3Weight()}g</strong><br><style="text-align:right">Menge</span></span></td>
                                    <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">Papierformat: {$Con["Calc"]->getPaperAddContent3Width()} X {$Con["Calc"]->getPaperAddContent3Height()}<br>{$Con["Calc"]->getPaperCount(Calculation::PAPER_ADDCONTENT3) + $Con["Calc"]->getPaperAddContent3Grant()} Bogen</span></span></td>
                                    <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">Auf Lager <strong>o</strong><br>eingegangen <strong>o</strong><br>bestellen <strong>o</strong></span></span></td><!--{/if}--
                                </tr>
                            <!--{/if}-->
                        </tbody>
                    </table>


                    <!--{foreach $Con.Type as $Type}-->
                        <!--{foreach $Type.Machine as $Mg}-->
                            <table border="1" cellpadding="1" cellspacing="1" style="background-color:#FFFFFF; width:100%">
                                <tbody>
                                    <tr>
                                        <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">{$Type.Name}:</span></span></td>
                                        <td style="text-align:left; width:75%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">{$Mg.Position}
                                            <!--{if $Mg["ME"]->getMachine()->getType() == 5}--><strong>Schnitte: {$Mg["ME"]->calcCuts()} // Stapel: {$Mg["ME"]->calcStacks()} </strong><!--{/if}-->
                                            <!--{if $Mg["ME"]->getMachine()->getType() == 1}-->NettoBg: <strong>{ceil ($Mg["ME"]->getMyPages() / $Mg["Calc"]->getProductsPerPaper($Mg["ME"]->getPart()) * $Mg["Calc"]->getAmount())}</strong><!--{/if}-->
                                            <!--{if $Mg["ME"]->getMachine()->getType() == 1}-->BruttoBg: <strong>{ceil ($Mg["ME"]->getMyPages() / $Mg["Calc"]->getProductsPerPaper($Mg["ME"]->getPart()) * $Mg["Calc"]->getAmount() + $Mg["ME"]->getMyGrant())} // Zuschuss: {ceil ($Mg["ME"]->getMyGrant())}</strong><!--{/if}-->
                                            <!--{if $Mg["ME"]->getMachine()->getType() == 1 && $Mg["ME"]->getFinishing()->getId()}-->Lack:<strong>{$Mg["ME"]->getFinishing()->getName()}</strong><!--{/if}-->
                                            <!--{if $Mg["ME"]->getColor_detail() != "" }-->Farbhinweis{$Mg["ME"]->getColor_detail()}<!--{/if}-->
                                            <!--{if $Mg["ME"]->getInfo() != "" }-->Verarbeitungs-Info{$Mg["ME"]->getInfo()}<!--{/if}-->
                                            <!--{if $Mg["ME"]->getMachine()->getType() == 3}--><strong>Falzart: {$Mg["ME"]->getFoldType()->getName()} </strong><!--{/if}-->
                                            <!--{if $Mg["ME"]->getMachine()->getType() == 2}--><strong>Anzahl Druckplatten: {($Con["Calc"]->getPlateCount($me))} </strong><!--{/if}-->
                                            </span></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        <!-- {/foreach} -->
                    <!-- {/foreach} -->

                    <p></p>
                    <table border="0" cellpadding="1" cellspacing="1" style="background-color:#FFFFFF; width:100%">
                        <tbody>
                            <tr>
                                <td style="text-align:left; width:100%; background-color:#d6d6d6"><strong><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:14px">Merkmale:</strong></span></span></td>
                            </tr>
                            <!-- {foreach $OrderAttributes as $Oa} -->
                                <!--{if $Oa.value == 1}-->
                                    <tr>
                                    <!--{if $Oa.inputvalue!=""}-->
                                        <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">
                                            {$Oa.title}:
                                        </span></span></td>
                                        <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">
                                            {$Oa.inputvalue}
                                        </span></span></td>
                                    <!--{else}-->
                                        <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">
                                            {$Oa.title}:
                                        </span></span></td>
                                        <td style="text-align:left; width:25%"><span style="font-size:10px"><span style="font-family:arial,helvetica,sans-serif">
                                            Ja
                                        </span></span></td>
                                    <!--{/if}-->
                                    </tr>
                                <!--{/if}-->
                            <!--{/foreach}-->
                        </tbody>
                    </table>

                    <table border="0" cellpadding="1" cellspacing="1"  style="page-break-before:always">
                        <tbody>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                            <tr style="background-color:#D6D6E6">
                                <td style="text-align:left; width:60%"><strong><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:14px">Papierzettel: </span></span></strong></td>
                                <td style="text-align:right; width:40%"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:14px">{$Order-&gt;getNumber()}</span></span></td>
                            </tr>
                        </tbody>
                    </table>

                    <table border="1" cellpadding="1" cellspacing="1" style="width:100%;  border: 1px solid #000000;border-collapse: collapse;">
                        <tbody>
                            <tr>
                                <td style="width:34%">
                                <p><span style="font-size:8px"><span style="font-family:arial,helvetica,sans-serif">{$CustomerName}<br />
                                {$ContactPerson-&gt;getNameAsLine3()}<br />
                                {$Customer-&gt;getStreet()} {$Customer-&gt;getHouseno()} {$Customer-&gt;getAddress2()}<br />
                                {$Customer-&gt;getZip()} {$Customer-&gt;getCity()}<br />
                                {$Customer-&gt;getCountry()-&gt;getName()}</span></span></p>
                                </td>
                                <td style="text-align:central;  border: 1px solid #000000; border-collapse: collapse; width:33%"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:8px">Kunden-Nr. {$Customer-&gt;getCustomernumber()}<br/>
                                Vorgangs Nr: {$Order-&gt;getNumber()}<br/>
                                Ansprechpartner: {$ContactPerson-&gt;getNameAsLine3()}<br/>
                                Telefon: {$ContactPerson-&gt;getPhone()}<br/>
                                E-Mail: {$ContactPerson-&gt;getEmail()}</span></span></td>


                                <td style="width:33%">
                                <p style="text-align:right"><span style="font-size:8px"><span style="font-family:arial,helvetica,sans-serif">Alte Auftragsnummer: <!-- {if $OrderAttributes.52_306.inputvalue != ""} -->Alte Auftragsnummer: {$OrderAttributes.52_306.inputvalue}<!-- {/if} --></span></span><br />
                                <span style="font-size:8px"><span style="font-family:arial,helvetica,sans-serif">Sachbearbeiter: {$Order-&gt;getinternContact()-&gt;getNameAsLine()}<br />
                                <span style="font-size:8px"><span style="font-family:arial,helvetica,sans-serif">Datum: {$CurrentDate}<br/>
                                <span style="font-family:arial,helvetica,sans-serif"><span style="font-size:14px">Liefertermin: {$DelivDate}</span></span></span></span></span></span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table border="0" cellpadding="2" cellspacing="1"  style="background-color:#ffffff">
                        <thead>
                            <tr>
                                <td style="text-align:left; width:100%; background-color:#d6d6d6"><strong><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:14px">Auftragsbeschreibung:</strong></span></span></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td style="text-align:left; width:20%"><span style="font-size:8px"><span style="font-family:arial,helvetica,sans-serif">Objekt<br/>Auflage<br/>Seiten<br/>Format<br/>Druck<br/><strong>Bemerkung</strong> </span></span></td>
                            <td style="text-align:left; width:80%"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:8px">{$Order-&gt;getTitle()}<br/> {ceil($Pos-&gt;getQuantity())}<br/>
                            {$Con["Calc"]->getPagesContent()} <br/>
                            <!--{if $Con["Calc"]->getProductFormatWidth() != ""}-->{$Con["Calc"]->getProductFormatWidth()}mm x {$Con["Calc"]->getProductFormatHeight()}mm <!--{/if}-->
                                <!--{if $Con["Calc"]->getProductFormatWidthOpen() != ""}-->(Format offen: {$Con["Calc"]->getProductFormatWidthOpen()}mm x {$Con["Calc"]->getProductFormatHeightOpen()}mm)  <br><!--{/if}-->
                            {$Con["Calc"]->getChromaticitiesContent()->getName()}<br/></span></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:left; width:100%; background-color:#d6d6d6"><strong><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:14px">Material</strong></span></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:left; width:100%"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:8px">Papierbezeichnung: {$Con["Calc"]->getPaperContent()->getName()} {$Con["Calc"]->getPaperContentWeight()}g</span></span></td>
                            </tr>
                            <tr>
                            <td style="text-align:left; width:20%"><span style="font-size:8px"><span style="font-family:arial,helvetica,sans-serif">Papier</span></span></td>
                            <td style="text-align:left; width:20%"><span style="font-size:8px"><span style="font-family:arial,helvetica,sans-serif">Format: {$Con["Calc"]->getPaperContentWidth()} mm X {$Con["Calc"]->getPaperContentHeight()} mm<br/><strong>Bogen<br/>{$Con["Calc"]->getPaperCount(Calculation::PAPER_CONTENT)} </strong><br/></span></span></td>
                            <td style="text-align:left; width:10%"><span style="font-size:8px"><span style="font-family:arial,helvetica,sans-serif"><br/>Zuschuss<br/>{$Con["Calc"]->getPaperContentGrant()}	</span></span></td>
                            <td style="text-align:left; width:10%"><span style="font-size:8px"><span style="font-family:arial,helvetica,sans-serif"><br/>Nettobogen<br/>{$Con["Calc"]->getPaperContentGrant() + $Con["Calc"]->getPaperCount(Calculation::PAPER_CONTENT)}</span></span></td>
                            <td style="text-align:left; width:10%"><span style="font-size:8px"><span style="font-family:arial,helvetica,sans-serif"><br/>Nutzen<br/>{ceil ($Con["Calc"]->getFormat_in_content() / ($Con["Calc"]->getPaperContentHeight() * $Con["Calc"]->getPaperContentWidth()))}</span></span></td>

                            <td style="text-align:left; width:30%"><span style="font-size:8px"><span style="font-family:arial,helvetica,sans-serif"><!--{if $OrderAttributes.76_364.inputvalue !=""}Datum Bestellung: {$OrderAttributes.76_364.inputvalue}--><!--{/if}-->
                            <br/><!--{if $OrderAttributes.76_367.inputvalue !=""}Datum Bereitstellung: {$OrderAttributes.76_367.inputvalue}--> <!--{/if}-->
                            <br/><!--{if $OrderAttributes.76_365.inputvalue !=""}Lieferant: {$OrderAttributes.76_365.inputvalue}--><!--{/if}-->
                            <br/><!--{if $OrderAttributes.76_366.inputvalue !=""}Für Maschine: {$OrderAttributes.76_366.inputvalue}--><!--{/if}--></span></span></td>
                            </tr>
                            <tr>
                            <td style="text-align:left; width:100%"><strong><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:8px">Bemerkungen</strong></span></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="page-break-before:always">

                <!-- {/foreach} -->
            <!-- {/foreach} -->
    <!-- {/foreach} --></tr>
    </tbody>
</table>